* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-style: normal;
  font-family: Montserrat;
  font-style: normal;
}

html {
  width: 100vw;
  overflow-x: hidden;
}

body {
  margin: auto;
  background-color: #f6f5f4;
}

a {
  text-decoration: none;
  color: #0000;
  padding: 0;
  margin: 0;
}
