.reg {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1220px;
  margin: 88px auto;

  .regForm {
    display: flex;
    flex-direction: column;
    gap: 30px;

    & h1 {
      font: 400 56px Dela Gothic One;
      color: #000000;
    }

    & input {
      width: 519px;
    }

    .regBtn {
      width: 110px;
      height: 44px;
      border-radius: 100px;
      background-color: #2b788b;
      color: #fff;
      text-align: center;
      font: 700 16px Montserrat;
      letter-spacing: -0.64px;
      padding: 14px 0;

      &:hover {
        transition: 0.5s;
        opacity: 70%;
      }
    }
  }

  .regImg {
    background-image: url(./assets/imgBoy.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 481px;
    height: 320px;
  }
}
