.preview {
  width: 1220px;
  margin: 118px auto 124px;
  display: flex;
  align-items: center;

  .previewInfo {
    width: 500px;
    display: flex;
    flex-direction: column;

    .description {
      font: 700 16px Montserrat;
      color: #2b788b;
      letter-spacing: 2.24px;
      text-transform: uppercase;
    }

    & h1 {
      font: 400 56px Dela Gothic One;
      width: 500px;
      line-height: 120%;
      letter-spacing: -2.24px;
      padding-top: 24px;
    }

    .info {
      font: 600 18px Montserrat;
      width: 397px;
      line-height: 140%;
      letter-spacing: -0.72px;
      color: #757575;
      padding-top: 30px;
    }

    .btnInfo {
      font: 700 16px Montserrat;
      padding: 14px;
      border-radius: 100px;
      background: #c3dce3;
      width: 165px;
      margin-top: 32px;
      color: #2b788b;

      &:hover {
        transition: 0.5s;
        opacity: 70%;
      }
    }

    .statistic {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 163px;
      padding-top: 49px;

      .statWrapper {
        display: flex;
        align-items: center;

        .imgLightning {
          background-image: url("../PreviewInfo/assets/imgLightning.svg");
          background-repeat: no-repeat;
          background-size: contain;
          width: 24px;
          height: 30px;
          margin-right: 10px;
        }
      }

      .number {
        font: 400 40px Dela Gothic One;
        color: #000000;
      }

      & div {
        font: 400 40px Dela Gothic One;
        color: #2b788b;
      }
    }

    .students {
      width: 163px;
      text-align: center;
      color: #585858;
      font: 600 16px Montserrat;
    }
  }

  .previewGuy {
    background-image: url("../PreviewInfo/assets/previewGuy.png");
    width: 710px;
    height: 500px;
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    left: 12%;
  }
}

.learningWrapper {
  background-color: #fff;
  width: 100%;

  .learning {
    width: 1220px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;

    .learningImg {
      background-image: url(./assets/learningGirl.png);
      background-repeat: no-repeat;
      background-size: contain;
      width: 580px;
      height: 445px;
      margin: 77.5px 0;
    }

    .learningInfo {
      width: 480px;
      padding-top: 152px;

      & h1 {
        font: 400 48px Dela Gothic One;
        color: #000;
        letter-spacing: -1.92px;
      }

      & p {
        font: 600 18px Montserrat;
        color: #757575;
        line-height: 140%;
        letter-spacing: -0.72px;
        padding-top: 30px;
      }

      .btnWrapper {
        display: flex;
        width: 480px;
        padding-top: 30px;

        .sprintBtn {
          background-image: url(./assets/sneakersBtn.png);
          background-repeat: no-repeat;
          background-size: contain;
          width: 131px;
          height: 145px;
          margin-right: 21px;

          &:hover {
            transition: 0.5s;
            opacity: 70%;
          }
        }

        .tasksBtn {
          background-image: url(./assets/speakerBtn.png);
          background-repeat: no-repeat;
          background-size: contain;
          width: 172px;
          height: 145px;

          &:hover {
            transition: 0.5s;
            opacity: 70%;
          }
        }
      }
    }
  }
}

.knowledge {
  width: 1220px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;

  .knowledgeInfo {
    width: 475px;
    padding-top: 136px;

    & h1 {
      font: 400 48px Dela Gothic One;
      color: #000;
      letter-spacing: -1.92px;
    }

    & p {
      font: 600 18px Montserrat;
      color: #757575;
      line-height: 140%;
      letter-spacing: -0.72px;
      padding-top: 30px;
    }

    .btnKnowledge {
      border-radius: 100px;
      background-color: #c3dce3;
      width: 131px;
      padding: 14px 0;
      color: #2b788b;
      font: 700 16px Montserrat;
      letter-spacing: -0.64px;
      text-align: center;
      margin-top: 34px;

      &:hover {
        transition: 0.5s;
        opacity: 70%;
      }
    }
  }

  .knowledgeImg {
    background-image: url(./assets/girlWithBooks.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 580px;
    height: 474px;
    margin-top: 26px;
  }
}

.progressWrapper {
  background-color: #fff;

  .progress {
    width: 1220px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;

    .progressImg {
      background-image: url(./assets/GuyAndGirl.png);
      background-repeat: no-repeat;
      background-size: contain;
      width: 680px;
      height: 409px;
      margin: 95px 0;
    }

    .statistics {
      padding-top: 149px;
      width: 475px;

      & h1 {
        font: 400 48px Dela Gothic One;
        color: #000;
        letter-spacing: -1.92px;
      }

      & p {
        font: 600 18px Montserrat;
        color: #757575;
        line-height: 140%;
        letter-spacing: -0.72px;
        padding-top: 30px;
      }

      .btnStatistics {
        border-radius: 100px;
        background-color: #c3dce3;
        width: 129px;
        padding: 14px 0;
        color: #2b788b;
        font: 700 16px Montserrat;
        letter-spacing: -0.64px;
        text-align: center;
        margin-top: 34px;

        &:hover {
          transition: 0.5s;
          opacity: 70%;
        }
      }
    }
  }
}
