.wrapper {
  display: flex;
  justify-content: space-between;
  margin: 90px auto;
  width: 1180px;

  .wrapperLeft {
    width: 519px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .statusCode {
      color: var(--primaty-grey-dark, #757575);
      font: 700 16px Space Grotesk;
      line-height: normal;
      padding-bottom: 24px;
    }

    & h2 {
      color: var(--primaty-black, #000);
      font: 400 56px Dela Gothic One;
      line-height: 120%;
      letter-spacing: -2.24px;
      padding-bottom: 24px;
    }

    .description {
      color: var(--primaty-grey-dark, #757575);
      font: 500 20px Space Grotesk;
      line-height: 142.1%;
      padding-bottom: 32px;
    }

    .btnGoHome {
      border-radius: 100px;
      background: var(--primaty-cyan-dark, #2b788b);
      color: #fff;
      text-align: center;
      padding: 14px 0;
      font: 700 16px Montserrat;
      letter-spacing: -0.64px;
      width: 118px;
    }
  }

  .wrapperRight {
    display: flex;
    flex-direction: column;
    align-items: center;

    .img {
      background-image: url(./assets/imgCasper.png);
      background-repeat: no-repeat;
      background-size: contain;
      width: 395px;
      height: 414px;
    }

    .shade {
      width: 272px;
      height: 42px;
      flex-shrink: 0;
      border-radius: 272.241px;
      background: rgba(0, 0, 0, 0.2);
      filter: blur(25px);
    }
  }
}
